{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static 'qstyle.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Quiz</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark  bg-danger">
        <a class="navbar-brand" href="#">Online Quiz</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/instructions">Instructions</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user.username}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/profile">View Profile</a>
           
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/accounts/logout">Logout</a>
              </div>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/accounts/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/login">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div class="container">
        <div class="row">

        <div class="col-12 col-md-10 col-sm-8">
    {% block content %}
    {% if user.is_authenticated %}

    <h1>Questions:</h1>
    <form action="/quiz/" method="POST">
      {% csrf_token %}
    {% for varquest in quest %}
    <h4>{{varquest.id}}) {{varquest.question}}</h4>
    <div id="options">
    <input type="radio"  name={{varquest.id}} value="option1" required> {{varquest.option1}}<br>
    <input type="radio"  name={{varquest.id}} value="option2" required> {{varquest.option2}}<br>
    <input type="radio"  name={{varquest.id}} value="option3" required> {{varquest.option3}}<br>
    <input type="radio"  name={{varquest.id}} value="option4" required> {{varquest.option4}}<br>
    </div>
    {% endfor %}
    <div class="input text-center">
    <button type="submit" >submit</button>
    </div>
    </form>
    {% else %}
    <h1 style="color:tomato;font-family:sans-serif;text-align:center;margin-top:180px;">You must login to start the online Quiz</h1>
    {% endif %}

    {% endblock %}
    </div>
    <div class="col" style="background-color:whitesmoke">
      {% for message in messages %}
      <h3 style="color:blue;text-align:center;font-family:sans-serif;margin-top:20px;">{{message}}</h3>
      {% endfor %}

    </div>
    </div>
    </div>
 <script>

      $(document).ready(function() {
          function disableBack() { window.history.forward() }
  
          window.onload = disableBack();
          window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
      });
  
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="path/to/boostrap.min.js"></script>
</body>
</html>